<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">

    <listeners><listener class-name="ExtentReportManager"/></listeners>
    <parameter name="browser" value="edge"/>

    <test verbose="2" preserve-order="true" name="C:/Users/Lenovo/IdeaProjects/Web_Testing/Automation_Testing">
        <classes>
            <class name="BDRailETicketingTest"/>
            <class name="Testing2Test"/>
        </classes>
    </test>
</suite>